.clickable-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
    text-decoration: none;
    display: block;
    transition: transform 0.1s ease, box-shadow 0.1s ease; /* Smooth transition */
    cursor: pointer;
}

.clickable-card:active {
    transform: scale(0.95);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2); /* Shadow gets smaller, simulating the clickable-card being pressed inward */
}
